
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1;
    background-image: linear-gradient(to top right, rgb(7, 8, 10),rgb(0, 94, 255),rgb(0,0,0),rgb(0, 255, 247));
    
  }
  
  textarea {
    background: transparent;
    border: none;
    resize: none;
    color: #000000;
    border-left: 1px solid black;
    padding: 10px;
    height: 5rem;
  
  }
  
  .jumbotron {
    text-align: center;
    background-color: transparent;
    color: white;
    border-radius: 0;
    border-bottom: 10px solid black;
    background-image: linear-gradient(to right top, rgba(24, 84, 22, 0.5), rgba(0, 0, 0.7)), url(./images/ZcVzSn.jpeg);
    background-size: 100% 100%;
    background-repeat:no-repeat;
  }
  
  .description {
    white-space: pre-wrap;
  }
  
  .time-block {
    text-align: center;
    border-radius: 15px;
  }
  
  .row {
    white-space: pre-wrap;
    height: fit-content;
    border-top: 1px solid white;
  }
  
  .hour {
    color: rgb(19, 204, 19);
    border: 1px solid #000000;
    background-image: radial-gradient(rgba(65, 65, 65,0.3),rgba(185, 185, 185, 0.6),rgb(119, 119, 119,0.6),rgba(59, 59, 59),rgb(0, 0, 0)), url(./images/VecteezyVintageBackgroundAT2308_generated.jpg);
    background-size: 100% 100%;
    background-repeat:no-repeat;
    border-radius: 15px 0 0 15px;
  }
  
  .past {
    background-color: rgb(211, 211, 211,0.96);
    color: white;
  }
  
  .present {
    background-color: rgb(255, 105, 97,0.6);
    color: white;
  }
  
  .future {
    background-color: rgb(119, 221, 119, 0.6);
    color: white;
  }
  
  .saveBtn {
    border-left: 1px solid black;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #06aed5;
    color: white;
  }
  
  .saveBtn :hover {
    font-size: 20px;
    transition: all 0.3s ease-in-out;
  }
  .btnClear{
    color: white;
    border: white solid 1px;
  }
  
  @media only screen and (max-width: 768px) {
    .hour,.saveBtn,.description {
    border-radius: 15px;
    border: solid black 1px;
    }
  
  .hour,.saveBtn {
    display: block;
    height: 2.5rem;
    }
  }